{% load static %}

    <div
      id="home"
      class="relative pt-[120px] md:pt-[130px] lg:pt-[160px]">
        <div class="container">
            <div class="hero-content
                        text-center">
                <h1 class="
                    text-black
                    font-bold">
                  Gestão de Alunos <br> Academia Vidativa
                </h1>
                <p>
                  Sistema para cadastro e consulta de alunos e mensalidades.
                </p>

            </div>
        </div>
    </div>