{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Consulta de planos</h1>
    </div>

    <!----  Mensagem de sucesso --------->
    {% if messages %}
         {% for message in messages %}
             <div class="text-center alert alert-{{ message.tags }}">
                 {{ message|safe }}
             </div>
         {% endfor %}
    {% endif %}

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor Plano</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
            </thead>
            <tbody>
                {% for p in object_list %}
                <tr>
                    <td scope="row">{{ p.id }}</td>
                    <td scope="row">{{ p.descricao }}</td>
                    <td scope="row">{{ p.valor }}</td>
                    <td scope="row"><a class="btn btn-warning" href="{% url 'atualiza_planos' p.id %}" role="button">Editar</a></td>
                    <td scope="row"><a class="btn btn-danger" href="{% url 'deleta_planos' p.id %}" role="button">Apagar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <a class="btn btn-dark" href="{% url 'cadastro_planos' %}" role="button">Inserir Plano</a>
    </div>
{% endblock %}