{% load static %}

<footer>
    <div class="bg-light">
        <div class="container">
            {% if user.is_anonymous %}
                <span>Você não está logado no sistema</span>
                <br>
                <span>ealsistemas. Versão 1.0</span>
            {% else %}
                <span>Usuário: {{ request.user.username }} </span>
                <br>
                <span>ealsistemas. Versão 1.0. <a href="{% url 'logout' %}" style="text-decoration:none">Sair</a></span>
            {% endif %}
        </div>
    </div>
</footer>
